.page {
    overflow-x: hidden;
}
.offers {
    grid-column: 2/10;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.offers .my-pic {
    margin-right: 4rem;
}
.offers .my-pic img {
    width: 100%;
    height: 100%;
}
.offers .detail {
    display: block;
}
.detail .head {
    font-size: 2.5rem;
    font-weight: 500;
}