.home {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(8rem, 10rem)) minmax(2rem, 1fr);
   
}
@media only screen and (max-width: 700px) {
    .home, .page {
        display: block;
    }
}
.more {
    font-size: 2rem;
    grid-column: 2/10;
    color: var(--color-secondary);
    justify-self: center;
    padding: 1rem 2rem;
    border: 1px solid currentColor;
    transition: all .5s;
}
.more:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
    color: #fff;
}