.services .img{
    grid-column: 4/8;
}
.services .img img{
    margin: 5rem auto;
    width: 250%;
    height: auto;
    overflow: hidden;
}

.features {
    margin: 5rem 0;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    grid-row: 4/5;
}
.ex {
    font-size: 2rem;
    width: 35rem;
    margin-right: 2rem;
}
.ex span {
    color: var(--color-secondary);
    font-weight: 700;
}
.ex p {
    margin: 1rem 0;
}

.feas {
    display: grid;
    grid-template-columns: repeat(3, 15rem);
    grid-gap: 2rem;
}
.feas .fa {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(192, 189, 189);
}
