:root {
  --color-primary: rgb(224, 223, 223);
  --color-secondary: rgb(12, 12, 12);
  --text-color: rgb(87, 85, 85);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.25%;
  color: var(--text-color);
}

p {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 200;
  margin-bottom: 2rem;
}


.news {
  background-color: orange;
  padding: 2rem;
}
.footer {
  background-color: black;
  padding: 2rem;
}