:root {
  --color-primary: rgb(224, 223, 223);
  --color-secondary: rgb(12, 12, 12);
  --text-color: rgb(87, 85, 85);
  --white: rgb(255, 255, 255);
}

html {
  font-size: 62.25%;
  color: var(--text-color);
}


.about {
  background-color: green;
  padding: 2rem;
}
.work {
  background-color: blue;
  padding: 2rem;
}
.client {
  background-color: red;
  padding: 2rem;
}
.news {
  background-color: orange;
  padding: 2rem;
}
.footer {
  background-color: black;
  padding: 2rem;
}